.reset{
	width: 100%;
}

.reset__form{
	display: flex;
	flex-direction: column;
	max-width: 520px;
}

.reset__title{
	margin-top: 9px;
	font-size: 20px;
	font-family: "Cuprum";
	color: rgb(59, 59, 59);
	line-height: 1.091;
	margin-bottom: 38px;
}

.reset__password,
.reset__password-confirm{
	display: block;
	position: relative;
	margin-bottom: 33px;
	
}

.reset__label-password,
.reset__label-password-confirm{
	display: block;
	font-size: 12px;
	font-family: "Myriad Pro";
	color: rgba(0, 0, 0, 0.38);
	line-height: 1.167;
}

.reset__input-password,
.reset__input-password-confirm{
	min-height: 30px;
	font-size: 16px;
	font-family: "Roboto";
	color: rgba(0, 0, 0, 0.871);
	line-height: 1.5;
	height: 1px;
	width: 100%;
	background: transparent;
	border: none;
	border-bottom: 1px solid #000;
	padding-right: 30px;
	max-width: 265px;
}

.reset__submit-container{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 40px;
	max-width: 265px;
}

.reset__submit{
	background-color: rgb(59, 59, 59);
	width: 125px;
	height: 40px;
	border: 1px solid transparent;
	font-size: 14px;
	font-family: "Cuprum";
	color: rgb(252, 252, 252);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.714;
	transition: all .3s;
	&:hover {
		background: #fff;
		color: #3b3b3b;
		border: 1px solid #464646;
	}
}

.reset__password_not-valid {
	.reset__input-password {
		border-bottom-color: #f7002c;
	}
}

.reset__password-confirm_not-valid {
	.reset__input-password-confirm {
		border-bottom-color: #f7002c;
	}
}

.reset__password-confirm span {
    display: none;
    color: #f7002c;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
	margin-left: 58px;
    letter-spacing: .3px;
    text-shadow: 0 0;
    position: relative;
	&::before {
		content: "";
		display: block;
		position: absolute;
		top: 3px;
		left: -27px;
		width: 18px;
		height: 18px;
		background-image: url(../img/attention_icon.png);
	}
}

.reset__password-confirm_not-valid span {
	display: inline-block;
}

@media screen and (max-width: 1300px) {
	.reset__form {
		padding-left: 20px;
	}
}

@media screen and (max-width: 767px) {
	.reset__password-confirm_not-valid span {
		display: block;
		margin-left: 65px;
		margin-top: 15px;
	}
	.reset__password-confirm .reset__password-icon {
		top: 25%;
	}
}